<!DOCTYPE html>
<html>
<head>
    <title>IU Basketball News</title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

        <style type="text/css">
            h1{
                color: rgb(255, 255, 231);
            }
            body{
                background: url("https://hoosierbloggers.files.wordpress.com/2012/01/cropped-132637_papel-de-parede-indiana-hoosiers_1440x9001.jpg");
            }
            .contentDiv{
                width: 80%;
            }

        </style>
</head>
<body>
    <center><h1><strong>Hoosier Basketball News</strong></h1> </center>
       <center> <a href="/scrape" class="waves-effect waves-light btn red">Scrape</a> </center>

<div id="contentDiv">
        <% for (let i = 0; i < data.length; i++) {%>

            <br>
        <div class="row">
            <div class="col s12">
                    <div class="card red">
                        <div class="card-content white-text">
                            <span class="card-title title"><strong><%= data[i].title %></strong></span>
                            <p><%= data[i].preview %></p>
                                <a class="btn-floating halfway-fab waves-effect waves-light red">
                                    <i class="material-icons addComment">add</i>
                                </a>
                        </div>
                        <div class="card-action">
                            <a href= <%= data[i].link %> >LINK FOR FULL STORY HERE</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        <% } %>
        </div>

       
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script type="text/javascript">

    $(".addComment").on("click", function(){
        alert($(".title").text());
    });

</script>

</body>
</html>